.expanded-element {
  position: relative;
  width: 540px;
  height: 112px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 8px 8px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  bottom: 6px;
  color: #000000;
}
#email {
  color: #de1a42;
  text-decoration-line: underline;
  font-weight: bold;
}

#separator {
  position: absolute;
  width: 500px;
  left: 20px;
  top: 5px;
  border: 0.5px solid #aaaaaa;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

#first-row {
  position: absolute;
  width: 500px;
  height: 24px;
  left: 20px;
  top: 25px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

#second-row {
  position: absolute;
  width: 500px;
  height: 48px;
  left: 20px;
  top: 50px;
}
