.svg {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.collapsed-element {
  position: relative;
  width: 540px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.btn {
  font-family: Amiri;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  left: 20px;
  top: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
